<!DOCTYPE html>
<html>
<head>
  <title>GameContestServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <nav class = "navbar">
      <ul class="nav navbar-nav">
        <li><%= if current_page?(root_path) then 'class=active' end%></li>
        <li><%= link_to "Game Contest Server", root_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
      </ul>
    </nav>
<%
=begin
%>
      <div id="header"><a href="<%= users_path %>"><span><h1>Game Contest Server</h1></span></a></div>
<%
=end
%>
    <% flash.each do |level, message| %>
      <div class="alert alert-<%= level %>"><%= message %></div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
<%
=begin
%>
    <div id="footer">
      Footer
    </div>
<%
=end
%>
  </div>
</body>
</html>
